<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>

  <system.webServer>
  <!-- <rewrite>
            <rules>
                <rule name="CanonicalHostNameRule1">
                    <match url="http://app.aloni.com/messenger/#/" />
                     <conditions logicalGrouping="MatchAny">
            <add pattern="off" />
          </conditions>
                    
                    <action type="Redirect" url="http://aloni.com/messenger/#/" />
                </rule>
              
            <rule name="Redirect to http" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" negate="false" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Found" />
        </rule>
            </rules>
        </rewrite> -->
    <staticContent>
      <mimeMap fileExtension=".*" mimeType="text/javascript" />
    </staticContent>
    <handlers>
      <clear />
      <add name="StaticFile" path="*" verb="*" type="" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" scriptProcessor="" resourceType="Either" requireAccess="Read" allowPathInfo="false" preCondition="" responseBufferLimit="4194304" />
    </handlers>
  </system.webServer>
</configuration>
